
@{
    ViewBag.Title = "Sms Features";
}
<div class="container">
    <h1 style="color:red;" class="text-center"><u style="color:red;">Exwhyzee SMS Features</u></h1>
    <div class="row">
        <div class="col-md-5" style="margin:20px 10px 10px 40px;">
            <div class="">
                <h2 style="color:red;">SMS Features</h2>
            </div>
            <div>
                <ul style="list-style:circle">

                    <li>Compose SMS with dynamic sender ID</li>
                    <li>
                        Create SMS that automatically pick phone book names and inserts in

                        your message
                    </li>
                    <li>
                        Type multiple sms recipients, select recipient or recipient group

                        from phonebook
                    </li>
                    <li>Edit/delete messages from your draft folder <span style="color:red;"><b>Coming Soon !!!</b></span></li>
                    <li>SMS character counter for composing SMS</li>
                    <li>SMS scheduling for future delivery.</li>
                    <li>Removes duplicate/repeated numbers in recipient list.</li>
                    <li>Accepts multiple numbers and uploaded numbers with comma.</li>
                    <li>
                        Automatic removal of invalid characters from numbers e.g

                        space,;,:,.,',`,(,),,{,},#,-,_ and ?
                    </li>
                    <li>Displays member SMS units left</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5" style="margin:20px 10px 10px 40px;">
            <div class="">
                <h2 style="color:red;">How It Works</h2>
            </div>
            <div>
                <p>HELP LINES: <b style="color: #ff6a00;">234-7069608881; 234-8081151115</b></p>

                <ul style="list-style-type: circle;" class="text-justify comment more">

                    <li>
                        Log on to your account on <b style="color: #ff6a00;">www.xyzsms.com</b> if you have registered. If not, click <b style="color: #ff6a00;">“Register”</b> and put in your details to get registered. You will get an activation link on your mail that you have registered. Click on it to get you registered.
                    </li>
                    <li>
                        When logged in, click on <b style="color: #ff6a00;">“Buy SMS”</b> on the xyzmenu on the left.
                    </li>
                    <li>
                        Then type in the amount of SMS units you want.
                    </li>
                    <li>
                        Choose <b style="color: #ff6a00;">"BANK"</b> payment method if you want to make bank deposit. The Account details is on the "Price List" page. Your ordered unit will be credit once payment is verified.
                    </li>
                    <li>
                        Choose <b style="color: #ff6a00;">"VoguePay"</b> if you want to use MasterCard, Interswitch, ETranzact or VoguePay. Your units will be credited immediately payment is made.
                    </li>     NB: Please when making payments to any bank, use your username as name of depositor.
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" style="margin:20px 10px 10px 40px;">
            <div class="">
                <h2 style="color:red;">How To Send SMS</h2>
            </div>
            <div>
                <ul class="text-justify comment more" style="list-style-type:circle;">
                    <li> Log on to your account <b style="color: #ff6a00;">www.xyzsms.com</b></li>
                    <li>
                        Click on <b style="color: #ff6a00;">“Compose SMS”</b> on the left hand side.
                    </li>
                    <li>
                        When the Compose page opens up, type your Sender ID. This is the name that you want people to see as the sender, instead of number.
                    </li>
                    <li>
                        Type the numbers you want to send the sms to. You can also upload it from a text file or excel file save in your system.
                    </li>
                    <li>
                        In the message field, type the message you want to send. Remember that 1page is equal to 160 words. But you can send more than one page.
                    </li>
                    <li>
                        The number you are typing can be in this format (234803xxxxxxx or just 0803xxxxxxx).
                    </li>
                    <li>
                        If you want the message to save a copy as draft, you type in the name on this field.
                    </li>
                    <li>
                        When through, just click “SEND” and wait for a confirmation message.
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="col-md-5" style="margin:20px 10px 10px 40px;">
            <div class="unitcost">
                <h3 style="color:red;margin-top:5px !important;margin-bottom:3px !important;">SMS Unit Cost Per Sms</h3>
                <h3 style="color:red;margin-top:5px !important;margin-bottom:3px !important;">and Per Page</h3>
            </div>
            <div class="content box style2">
                <div class="alert" style="background-color: #ff6a00; color: white;">
                    N1.00 for 1 Unit. Remember, all purchased units does not expire.
                </div>

                <table class="table table-bordered table-responsive">
                    <tr>
                        <td>
                            Network
                        </td>
                        <td>
                            Unit
                        </td>
                        <td>
                            Per Sms
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Etisalat Nigeria
                        </td>
                        <td>
                            2 unit
                        </td>
                        <td>
                            1 sms
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Airtel Nigeria
                        </td>
                        <td>
                            2 unit
                        </td>
                        <td>
                            1 sms
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mtn Nigeria
                        </td>
                        <td>
                            2 unit
                        </td>
                        <td>
                            1 sms
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Glo Nigeria
                        </td>
                        <td>
                            2 unit
                        </td>
                        <td>
                            1 sms
                        </td>
                    </tr>
                </table>
            </div>
        </div>*@
    </div>
</div>
   